@model List<BookGenre>
@if (TempData["basarili"]!= null)
{
    <h2 style="color:grey">@TempData["basarili"]</h2>
}
<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitap Türleri</h1>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Kitap Türü
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookGenre in Model)
            {
                <tr>
                    <td>@bookGenre.Id</td>
                    <td>@bookGenre.Name</td>
                    <td>
                        <a asp-controller="BookGenre" asp-action="updateGenre" asp-route-id="@bookGenre.Id" type="button" class="btn btn-success" style="width:250px">
                        Güncelle
                    </a>
                    </td>
                    <td>
                        <a asp-controller="BookGenre" asp-action="deleteGenre" asp-route-id="@bookGenre.Id"  type="button" class="btn btn-danger" style="width:250px">
                            Sil
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="BookGenre" asp-action="newGenreAdd" class="btn btn-lg btn-primary" type="button">
                Yeni Kitap Türü Oluştur
            </a>
        </div>
    </div>
</div>

