@using FirstProjectAsp.Utility;
@model List<Book>
@if (TempData["basarili"]!= null)
{
    <h2 style="color:grey">@TempData["basarili"]</h2>
}
<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitap Listesi</h1>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Kitap Adı
                </th>
                                <th>
                    Açıklama
                </th>
                <th>
                    Yazar
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Kitap Türü
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.BookName</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Price</td>
                    <td>@book.BookGenre.Name</td>

                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td>
                            <a asp-controller="Book" asp-action="newAddUpdate" asp-route-id="@book.Id" type="button" class="btn btn-success" style="width:250px">
                                Güncelle
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Book" asp-action="delete" asp-route-id="@book.Id" type="button" class="btn btn-danger" style="width:250px">
                                Sil
                            </a>
                        </td>
                    }
               
                </tr>
            }
        </tbody>

    </table>
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Book" asp-action="newAddUpdate" class="btn btn-lg btn-primary" type="button">
                    Yeni Kitap Oluştur
                </a>
            </div>
        </div>
    }
 
</div>

